
.starwars {
    font-size: 48px;
    line-height: 56px;
    font-family: Arial, sans-serif;
    position: relative;
    height: 56px;
    overflow: hidden;
  }
  
  .starwars p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 56px;
    text-align: center;
    color: black;
    opacity: 0;
    transform: translateY(-100%);
    animation: starwars 3s linear infinite;
  }
  
  .starwars p:nth-child(2) {
    animation-delay: 1s;
  }
  
  .starwars p:nth-child(3) {
    animation-delay: 2s;
  }
  
  @keyframes starwars {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    5% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
<body>
{% for mvp in mvplist %}
{{mvp.nickname}}<br>

{% endfor %}
</body>

<div class="starwars">
    <p>타이틀1</p>
    <p>타이틀2</p>
    <p>타이틀3</p>
  </div