<style>

  /* 스타워즈 엔딩 CSS */
@keyframes crawl {
  from {
    transform: translateZ(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-5000px) translateY(-100vh);
    opacity: 0;
  }
}
#starwars {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: yellow;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
#starwars .crawl {
  animation: crawl 20s linear;
  transform: translateZ(0);
  opacity: 1;
}

</style>
<body>
  
  
  <!-- 스타워즈 엔딩 템플릿 -->
  <div id="starwars">
    <div class="crawl">
      
      <h1> 영광의 MVP  </h1>
    <ul>
      {% for mvp in mvplist %}
      <li>{{mvp.nickname}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
</body>

