<head>
    <title>WAYgame</title>
    <link rel="stylesheet" href="/static/main/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>

<body>
    <h1>who are you?</h1>
    <h2>5초 안에 인물의 이름 맞추기</h2>
    <h3>
        <span id = "rule"> 규칙 1 </span> 다음 나오는 사진을 보고 누구인지 맞추세요
    </h3>
    <h4>
        <span id = "rule"> 규칙 2 </span> 총 20문제 한 문제당 5초이니 빠르게 입력해주세요
    </h4>
    <h5>
        <span id = "rule"> 규칙 3 </span> ALL CLEAR인 경우 명예의 전당에 등극!!
    </h5>

        
<span id="button">
    <form action="/main/startmain/" method="post">
        <input type="text" name="nickname" id="text" placeholder="닉네임" autofocus><br>
            <p id='msg'></p>
                {% csrf_token %}
                <button type="submit">
                    START
                </button>
    </form>
</span>
</body>


<script>
    search = location.search
    if(search.indexOf('msg=1') > -1) {
        document.querySelector('#msg').innerHTML = '이미 사용중인 닉네임입니다.'
    }
</script>
