<!DOCTYPE html>
<head>
  <title>WAYgame</title>
  <link rel="stylesheet" href="/static/game/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>

  <body>
    {% block content %}
    <style>
      .selected_img {
        display: none;
      }
      .next-page {
        display: none;
      }
    </style>
    {% for MyModel in selected_imgs %}
    <div class='selected_img'>
      <h1>
        누구일까요?
      </h1>
      <img src='/static{{ MyModel }}' class = "image-caption" >
      <form method="post" id="form{{ forloop.counter }}">
        {% csrf_token %} 
        <form method="get" id="inputElement">
          {% csrf_token %} 
          <div class = "answer"> 이름 : 
            <input type="text" name="img_name" id="img_name{{ forloop.counter }}" placeholder="입력해주세요." >
            <button id="pass" type="submit" onclick="next()" value="PASS">PASS</button>
          </div>
        </form>
      </form>
    </div>  
  {% endfor %}
  <div class="next-page">
      {% csrf_token %}
      <form method="post">
        <button id="button" type="button" onclick="location = '/end/endgame/'">
          결과화면이동
        </button>
      </form>             
    </div> 


    <script>
      const selected_imgs = document.querySelectorAll('.selected_img');
      let idx = 0
      selected_imgs[idx].style.display = 'block';
        function show() {
          if (idx+1 >= selected_imgs.length) {
            clearInterval(time);
            const nxetPage = document.querySelector('.next-page');
            nxetPage.style.display = 'block';
            const answerDisplay = document.querySelector('.selected_img:nth-of-type(20)');
            answerDisplay.style.display = 'none';
            return;
          }
          selected_imgs[idx].style.display = 'none';
          idx += 1;
          selected_imgs[idx].style.display = 'block';
        }
        let time = setInterval(show, 5000);
        function next() {
          clearInterval(time);
          show();
          time = setInterval(show, 5000);
           //const inputElement = document.getElementById('img_name{{ forloop.counter }}');
          //inputElement.focus();
        }
        document.addEventListener('keydown', function(event) {
          if (event.code === 'Enter') {
            event.preventDefault();
            next();
          }
        });
        
        
    </script>
    {% endblock %}
  </body>
</html> 